In [19]:
#카멜기법,파스칼,스네이크?기법 알기!
var01 = 3
var02 = 4
print('덧셈 : ', var01 + var02)
print('뺄셈 : ', var01 - var02)
print('곱셈 : ', var01 * var02)
print('실수 나눗셈 : ', var01 / var02)
print('정수 나눗셈 몫 : ', var01 // var02)
print('정수 나눗셈 나머지 : ', var01 % var02)
print('거듭제곱 : ', var01 ** 2)

# Python 에서 제공해주는 수치 함수가 있음
print('거듭제곱 ->pow() : ', pow(var01, 2))

덧셈 :  7
뺄셈 :  -1
곱셈 :  12
실수 나눗셈 :  0.75
정수 나눗셈 몫 :  0
정수 나눗셈 나머지 :  3
거듭제곱 :  9
거듭제곱 ->pow() :  9

### 파이썬 모듈을 이용한 수학계산

In [20]:
import math

In [21]:
# 거듭제곱
math.pow(var01, 2)

#제곱근
math.sqrt(var01)

9.0

In [23]:
# sin 45 도
math.sin(45)

0.8509035245341184

In [24]:
#sin45^2 + cos45^2
math.sin(45)**2 + math.cos(45)**2

1.0

### 난수 발생
> 샘플링할때 많이 쓰임

In [25]:
# 난수발생 모듈 불러오기
import random

In [30]:
#1~100 사이에 있는 난수 1개 발생
random.randint(1, 100)

17

In [34]:
# 제일 많이 쓰는 함수 range
# start step 이라 10 이 안들어옴
list(range(1, 10))
#1부터 46전까지의 스택
lotto_list = range(1,46)
#list(lotto_list)
random.sample(lotto_list, 6)

[8, 37, 43, 27, 21, 5]

In [39]:
# 반올림
print(round(123.45,1))
print(round(123.456,2))

#올림
print(math.ceil(1.1))
print(math.ceil(1.9))

#내림
print(math.floor(1.1))
print(math.floor(1.9))

123.5
123.46
2
2
1
1

In [40]:
# 메모리에 있는 변수 보기
dir()

['In',
 'Out',
 '_',
 '_21',
 '_22',
 '_23',
 '_24',
 '_26',
 '_27',
 '_30',
 '_31',
 '_32',
 '_33',
 '_34',
 '_8',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '__vsc_ipynb_file__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i35',
 '_i36',
 '_i37',
 '_i38',
 '_i39',
 '_i4',
 '_i40',
 '_i5',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'exit',
 'get_ipython',
 'lotto_list',
 'math',
 'os',
 'quit',
 'random',
 'sys',
 'var01',
 'var02']

In [41]:
var01

3

In [42]:
# 메모리에 있는 변수 제거
del var01

In [43]:
var01

NameError: name 'var01' is not defined

### 관계 연산자

In [44]:
num1 = 100
num2 = 20

In [45]:
print(num1 == num2)
print(num1 != num2)
print(num1 > num2)
print(num1 < num2)
print(num1 >= num2)
print(num1 <= num2)

False
True
True
False
True
False

### 논리 연산자

In [46]:
print((num1 >= 50) & (num2 <= 10))
print((num1 >= 50) | (num2 <= 10))
print((num1 >= 50) and (num2 <= 10))
print((num1 >= 50) or (num2 <= 10))

False
True
False
True

In [48]:
# 부정 연산자 (값을 바꾸는거) -> not(!는 jupyter notebook만 몼씀)
not(num1 >= 50)

False

In [50]:
# ! 연산자 ->OS 명령어 사용
#터미널 명령어 사용할수 있음
!ls

01.PreView.ipynb             =
02.변수와 자료형.ipynb

In [58]:
# 문자열
var01 = "Hello World!"
var01
var01 = 'Hello World!'
var01

'Hello World!'

In [57]:
var01 = """
Hello World
12345
대한민국
"""
#var01
print(var01)

Hello World
12345
대한민국

In [59]:
# 쌍따옴표와 홑따옴표의 사용
var01 = "My father's wife is my mother."
var02 = 'He say "I love you."'
print(var01)
print(var02)

My father's wife is my mother.
He say "I love you."

In [61]:
# 문자열 연산(덧셈) -> 문자끼리는 + 가능
var01  = "Python"
var02 = "is fun."
print(var01 + var02)
print(var01,var02) #,는 띄어쓰기가 들어감

Pythonis fun.
Python is fun.

In [65]:
#   문자열 연산(곱셈)
print(var01*3)
print("=" * 20)
print(var01)
print("=" * 20)

PythonPythonPython
====================
Python
====================

In [73]:
#문자열 indexing(배열에서 나옴)와 Slicing(범위를 정할떄 사용:딥러닝할때 많이 나옴)
str = "abcdefghijklmn"

print(str[0]) # 자동적으로 리스팅이 됨
print(str[0:3]) # 3번 전까지이다 (0,1,2)
print(str[-1]) # Python에서 -1은 맨뒤! R에서는 제거
print(str[5:]) # 5에서 끝까지다
print(str[:5]) # 0에서 4까지
print(str[0]+str[1]+str[2]) #문자 덧셈
print(str[5:-2])

a
abc
n
fghijklmn
abcde
abc
fghijkl

In [85]:
str = "20221229Snow"
year = str[:4]
# year
day = str[4:-4]
# day
weather = str[-4:]
# weather

print(year, day ,weather)
#2022 1229 Snow

2022 1229 Snow

In [97]:
str = "abbde"
#abcde 로 바꾸기
#스트링이라서 바꿀수가 없다 하지만 자를수 있지 잘라서 수정하기 
# 리스트였으면 당연히 바꿀수 있지! 
str = str[:2]+'c'+str[3:]
str

'abcde'

### 문자열 formatting

In [103]:
print("I have %d apples."%2)
print("I have %s apples."%"two")

number = 2
print("I have %d apples."%number)
fruit = "apple"
print("I have %d %s."%(number, fruit))
print("I have %02d %s."%(number, fruit))

I have 2 apples.
I have two apples.
I have 2 apples.
I have 2 apple.
I have 02 apple.

In [105]:
#문자열 정렬
print("I have 2 %10s,"%"apples") # 앞에 빈칸을 채우냐
print("I have 2 %-10s,"%"apples")# 뒤에 빈칸을 채우냐

print("%0.4f"%3.14159)
print("%10.4f"%3.14159)

I have 2     apples,
I have 2 apples    ,
3.1416
    3.1416

### 문자열 관련 함수
> 크롤링할때 사용 꼭 알아야함

In [117]:
# 문자 위치 알려주기
print(str.find('e')) # 0번지부터 셈
print(str.find("x")) # 없는 단어 = -1

str[str.find("e")] # 인덱스 번호

5
-1

'e'

In [118]:
# 문자열 삽임
str = ","
str.join("abcde")

'a,b,c,d,e'

In [119]:
# 소문자를 대문자로
str = 'hi'
str.upper()

'HI'

In [121]:
# 소문자를 대문자로
str = 'HI'
str.lower()

'hi'

In [123]:
# 공백지우기
str = '      hi'
str.lstrip()

# 공백지우기
str = 'hi     '
str.rstrip()

# 공백지우기
str = '     hi     '
str.strip()

'hi'

In [125]:
# 문자열 바꾸기
str = "Life id too short to be happy."
str.replace("happy","unhappy")

'Life id too short to be unhappy.'

In [133]:
#문자열 나누기
str01 = "Life id too short to be happy."
list01 = str01.split() # 공백을 기준으로 나눔
type(list01)
list01

['Life', 'id', 'too', 'short', 'to', 'be', 'happy.']

In [132]:
len(list01)

7

In [135]:
str02 = 'a:b:c:d'  #브라질쪽에서 오는 데이터는 거의 : 로 나뉘어있어
str02.split(":")   # : 를 기준으로 나눔

['a', 'b', 'c', 'd']

### 고급 문자열 Formatting

In [136]:
# 숫자 바로 대입하기
"I have {0} apples.".format(3)

'I have 3 apples.'

In [137]:
"I have {0} apples.".format("three")

'I have three apples.'

In [138]:
number = 10
day = "three"
"I have {0} apples, I will go abord for {1} days.".format(number, day)

'I have 10 apples, I will go abord for three days.'

In [144]:
# 왼쪽 정렬
'{0:<10}'.format("hi")

'hi        '

In [143]:
# 오른쪽 정렬
'{0:>10}'.format("hi")

'        hi'

In [142]:
# 가운데 정렬
'{0:^10}'.format("hi")

'    hi    '

In [145]:
# 공백 채우기 (=로 채울꺼야)
'{0:=^10}'.format("hi")

'====hi===='

In [146]:
# f문자열 formatting(Python 3.6 버전 이상에서만 사용가능)
name = '홍길동'
age = 30
f'나의 이름은 {name}이고 나이는 {age}세 입니다.'

'나의 이름은 홍길동이고 나이는 30세 입니다.'

In [147]:
f'나는 내년이면 {age+1}살 입니다.'

'나는 내년이면 31살 입니다.'

### 날짜형 변환

In [148]:
# 날짜형 모듈 불러오기
from datetime import datetime,timedelta

In [152]:
time1 = datetime(2022,12,25,21,0,0,0)
print(time1)

2022-12-25 21:00:00

In [155]:
# 날짜 계산하기
time2 = datetime.now()
print(time2)
print(time1 - time2)

2022-06-22 16:13:28.187836
186 days, 4:46:31.812164

In [160]:
# 좀 더 편리하게 출력
print((time1 - time2).days,"일")
print((time1 - time2).seconds,"초") # 시간끼리의 초 계산

186 일
17191 초

In [168]:
# 시간으로 확인하기
(time1 - time2).days * 24 + math.floor((time1 - time2).seconds / 60 / 60)

4468

In [173]:
# 특정 날짜로 부터 시간 계산하기
print(time2 + timedelta(days=5)) # 5일뒤
print(time2 + timedelta(days=-3)) # 3일전
print(time2 + timedelta(days=1, hours = -2)) # 1일뒤 2시간전

2022-06-27 16:13:28.187836
2022-06-19 16:13:28.187836
2022-06-23 14:13:28.187836